<div class="container-sm col-md-4  ">
    <div class="text-center">
        <label class="fs-4 fw-bold ">CREAR EMPLEADO</label>
    </div>

    <form [formGroup]="empleadoForm" (ngSubmit)="crear()" >
        <div class="m-2">
            <label class="col-md-5  fw-bold" for="">Nombre Empleado</label>
            <input class="col-md-7" type="text" formControlName="nombreEmpleado">
        </div>
        
        <div class="m-2">
            <label class="col-md-5 fw-bold" for="">Apellido Empleado</label>
            <input class="col-md-7" type="text" formControlName="apellidoEmpleado">
        </div>

        <div class="m-2">
            <label class="col-md-5 fw-bold" for="">Fecha Cumpleaños</label>
            <input class="col-md-7" type="date" formControlName="fechaCumpleanios">
        </div>

                <div class="m-2">
            <label class="col-md-5 fw-bold" for="">Direccoin</label>
            <input class="col-md-7" type="text" formControlName="direccionEmpleado">
        </div>


        <div class="m-2">
            <label class="col-md-5 fw-bold" for="">Dni Empleado</label>
            <input class="col-md-7" type="number" formControlName="dniEmpleado">
        </div>

        <div>
            <label for="">Departamento</label>
            <select name="" id="" formControlName="departamentoModel">
                <option [ngValue]="null">Seleccione Un Departamento</option>
                <option *ngFor="let d of listarDepartamentos" [ngValue]="d">{{d.nombreDepartamento}}</option>
            </select>
        </div>

        <div>
            <label for="">Cargos</label>
            <select name="" id="" formControlName="cargoModel">
                <option [ngValue]="null">Selecciones un Cargo</option>
                <option *ngFor="let c of listarCargos" [ngValue]="c">{{c.nombreCargo}}</option>
            </select>
        </div>

        <div>
            <label for="">Proyectos</label>
            <select name="" id="" formControlName="proyectoModels" multiple>
                <option [ngValue]="null">Seleccione un Proyecto</option>
                <option *ngFor="let p of listarProyectos" [ngValue]="p">{{p.nombreProyecto}}</option>
            </select>
        </div>

        <div class="text-center">
            <button type="submit" class="m-1 btn btn-success">Crear</button>
        </div>
    </form>
</div>